In [3]:
import json
import os

import pandas as pd
import numpy as np

In [4]:
os.getcwd()

'/home/kaush/Desktop/everesthack/notebooks'

In [5]:
xls = pd.ExcelFile('../dataset/qasurvey.xlsx')

In [6]:
xls.sheet_names

['Urban Health Baseline- for GIZ', 'Data', 'survey', 'choices']

In [12]:
df_data = pd.read_excel(xls, sheet_name='Data', skiprows=2)
df_data = df_d    dex('id', inplace=True)
df_data.head()

,id,q101,q101a,q101b,q102,q103,q104,q106,q107,q201,...,q441a,q441a1,q441a2,q441a3,q441a4,q441a5,q441a6,q441a7,q441a8,q441a9
0,1.0,1.0,1.0,"Bode, khapala",7.0,9.0,NaN,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,8.0,Sehari,13.0,NaN,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1.0,16.0,Lokanthali,6.0,8.0,NaN,1.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,5.0,"Nagadesh, Madhyapur thimi",6.0,5.0,NaN,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,7.0,Madhyapur thimi,6.0,6.0,NaN,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_choices = pd.read_excel(xls, sheet_name='choices', skiprows=0)
# data = data.loc[:407]
# data['id'] = data['id'].astype(int)
# data.set_index('id', inplace=True)
df_choices = df_choices[pd.notnull(df_choices['list name'])]
df_choices['name'] = df_choices['name'].astype(int)
df_choices = df_choices[['list name', 'name', 'label::english']]

,list name,name,display_name,label::english,label::nepali,media::image::english,media::video::english,media::audio::english,media::image::nepali,media::video::nepali,media::audio::nepali,dist1,q101,q101_b,q101_c,q101_a,q102,q102a
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,district,1.0,NaN,Bhaktapur,भक्तपुर,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,district,2.0,NaN,Banke,बाँके,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,district,3.0,NaN,Kailali,कैलाली,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
group_names = df_choices['list name'].value_counts().index

In [10]:
grouped_choices = df_choices.groupby('list name')

In [139]:
mappings = {} 
for group_name in group_names:
    mappings[group_name] = grouped_choices.get_group(group_name)

In [149]:
mappings['q301a1'].set_index('name')

     list name label::english
name
1       q301a1            Yes
2       q301a1             No